<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Quote</title>
</head>
<body>
    
    <form action="/quotes/" method="post">
        <input type="text" name="author" placeholder="Author">
        <br>
        <input type="text" name="quote" placeholder="your quote...">
        <br>
        <input type="submit" value="Update">
    </form>

    <style>s
        input
        {
            width: 100%;
            padding: 2%;
            font-size: 1.3rem;
            box-sizing: border-box;
        }
    </style>

</body>
</html>